
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* header {
  display: flex;
  flex-direction: row;
  grid-area: header;
    grid-row-start: header;
    grid-column-start: header;
    grid-row-end: header;
    grid-column-end: header;
  justify-content: space-between;
} */


div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.6em;
  color: whitesmoke;
}

h2 {
  font-family: luminance,serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
  color: whitesmoke;
}

h3 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: .6em;
  color: whitesmoke;
}

div > img {
  width: 90%;
  max-width: 1000px;
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 65vh;
}

/* #layout {
  display: grid;
  grid-template-areas: 
  "header header header"
  "left-sidenav main right-sidenav"
  "footer footer footer";
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 60px 1fr 30px;
  min-height: 100vh;
  padding: 10px;
} */
