
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}

#brand-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  margin-top: 5%;
}