

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: dapifer,serif;
  font-size: 1.4em;
  letter-spacing: .2ch;
  color:  whitesmoke;
  text-shadow: 1px 1px  #1cc6a1;
}

h2 {
  font-family: luminance,serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
  color: whitesmoke;
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: .6em;
  color: whitesmoke;
}

div > img {
  width: 90%;
  max-width: 750px;
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 70vh;
}

#title-div {
  width: 90%;
}

#title-div > h1 {
  padding: 20px;
}

