
h1 {
  line-height: 1em;
  font-family: costa, sans-serif;
  font-style: normal;
}

h2 {
  font-family: costa, sans-serif;
  font-size: 1em;
  font-weight: bolder;
  font-style: italic;
}

h3 {
  color: #181819;
  line-height: 1.1em;
  font-size: .8em;
  font-family: costa, sans-serif;
  font-weight: bolder;
  font-style: normal;
}

p {
  font-family: costa, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 6px;
  background-color: #181819;
  border: 2px solid darkcyan;
  z-index: -1;
}

.techDiv2 {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
}

.techDiv2 > a {
  background-color: darkcyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
  height: 10px;
  width: 180px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.techDiv2 > a:hover {
  box-shadow: #a84444 0px 10px 40px -10px, #a84444 0px 10px 10px -10px,#a84444 0px -2px 6px 0px inset;
  border: 1px solid #a84444;
}

.one {
  text-align: justify;
  background-color: whitesmoke;
  margin: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: -1;
  width: 98%;
}

.timeline {
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  content: '';
  left: 1%;
  z-index: -1;
}

.timelineContent {
  min-width: 120px;
  z-index: -1;
  color: #181819;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: -1;
}

.timeline ul {
  list-style: none;
  width: 82%;
  margin: 0 auto;
}

.timeline ul li {
  background-color: whitesmoke;
  padding: 20px;
  color: whitesmoke;
  margin-bottom: 15px;
  margin-left: -46px;
  width: 100%;
  z-index: -1000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.timelineContent h1 {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 10px;
}

.timelineContent p {
  font-size: .8em;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {

  .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: darkcyan;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline ul {
    min-width: 400px;
    margin-bottom: 20px;
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 30px;
    position: relative;
    margin-left: -33px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .timeline ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-40px); 
  }

  .timeline ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(31px);
  }

  .timeline ul li::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #a84444;
    border-radius: 50%;
    top: 0;

  }
  .timeline ul li:nth-child(odd)::after{
    transform: translate(50%, -50%);
    right: -10px;
  }
  .timeline ul li:nth-child(even)::after{
    transform: translate(-50%, -50%);
    left: -10px;
  }
}

