
form {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  color:  whitesmoke;
  background-color: #181819;
  font-family: costa, sans-serif;
  font-size: 1.2em;
  margin-bottom: 100px;
  padding: 10px;
}

form > h1 {
  font-size: 1.4em;
}

form > label {
  margin: 15px;
}

form > input, textarea, button {
  width: 80%;
  height: 2em;
  padding: 4px;
  margin: 15px;
  background-color: whitesmoke;
  font-family: costa, sans-serif;
}

form > button {
  margin-top: 20px;
  width: 30%;
  background-color: darkcyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 4px;
  color: whitesmoke;
  font-family: costa, sans-serif;
  font-size: .8em;
  align-self: center;
}

form > button:hover {
  box-shadow: #a84444 0px 10px 40px -10px, #a84444 0px 10px 10px -10px,#a84444 0px -2px 6px 0px inset;
  border: 1px solid #a84444;
  color: #a84444;
}

form > h1 {
  color: #a84444;
  margin: 15px;
}