.introDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-150px);
  z-index: 1;
  font-family: costa, sans-serif;
}

.name > h1 {
  font-size: 2.6em;
  text-shadow: -1px 1px whitesmoke;
  color: #a84444;
}

.name > h2 {
  font-size: 1em;
  color: whitesmoke;
}

.name > h2:hover {
  color: #a84444;
}

.name > h3 {
  color: whitesmoke;
  font-size: .4em;
  margin-top: -83px;
}


@media only screen and (min-width: 768px) {

  .name > h1 {
    font-size: 3.8em;
    text-shadow: -1px 1px whitesmoke;
    color: #a84444;
  }

  .name > h3 {
    color: whitesmoke;
    margin-top: -125px;
    font-size: .8em;
  }

  .name > h2 {
    color: whitesmoke;
    margin-top: 100px;
  }

  .dino {
    margin-top: 12px;
  }
}