.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  color: none;
}

.menuNav {
  list-style: none;
  position: fixed;
  right: 0;
  background: darkcyan;
  height: 0;
  width: 0;
  overflow: hidden;
  max-width: 100px;
}

.menuNav.showMenu {
  height: 25vh;
  width: 7vh;
  margin-top: 0;
  margin-right: 9px;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid #a84444;
}

a {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
  padding: 12%;
  text-decoration: none;
  color: #3fffd2;
  font-weight: bold;
}