.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  color: none;
  background-color: #a84444;
}

.menuNav {
  list-style: none;
  position: fixed;
  right: 0;
  background: darkcyan;
  height: 0;
  width: 0;
  overflow: hidden;
  max-width: 100px;
}

.menuNav.showMenu {
  height: 25vh;
  width: 6vh;
}

a {
  display: flex;
  flex-direction: column;
  padding: 15%;
  text-decoration: none;
  color: #3fffd2;
  font-weight: bold;
}