
.projImg {
  border: 3px solid darkcyan;
  max-width: 500px;
}

.techStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background-color: whitesmoke;
  min-height: fit-content;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: -1;
}

.gridContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.gridContainer3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #181819;
  z-index: -1;
}

.one {
  background-color: whitesmoke;
  margin: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 6px;
  padding-bottom: 6px;
  height: 24vh;
  z-index: -1;
}

.one > img {
  height: 10vh;
}

.one > h2 {
  font-size: 1em;
}

.detailsBtn {
  background-color: darkcyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: whitesmoke;
  font-size: medium;
  font-family: costa, sans-serif;
  width: 60px;
  transform: translateY(17px);
  z-index: -1;
}

.detailsBtn:hover {
  box-shadow: #a84444 0px 10px 40px -10px, #a84444 0px 10px 10px -10px,#a84444 0px -2px 6px 0px inset;
  border: 1px solid #a84444;
  color: #a84444;
}

.languages2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: whitesmoke;
  width: 100%;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.svg {
  height: 4vh;
  fill:#a84444;
  margin: 5px;
}

.langImgs {
  width: 220px;
}

.pythonImg {
  width: 80px;
  margin-left: -35px;
}

.detailsDiv {
  background-color: whitesmoke;
  min-height: 45vh;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 30px;
  padding-bottom: 40px;
  border: 2px solid darkcyan;
}

.linkDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 55%;
  padding: 4px;
  margin-top: 20px;
  font-family: costa, sans-serif;
}

.linkDiv:hover {
  box-shadow: #a84444 0px 10px 40px -10px, #a84444 0px 10px 10px -10px,#a84444 0px -2px 6px 0px inset;
  border: 1px solid #a84444;
  color: #a84444;
}

.play {
  color: whitesmoke;
}

.play:hover {
  color: #a84444;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.2em;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    max-width: 900px;
  }
  .languages, .languages2 {
    width: 90%;
    max-width: 900px;
  }
}
