
header {
  width: 100%;
  height: 50px;
}

a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

a:hover {
  color: #a84444;
}

.menuNav {
  display: none;
}

.menuNav.showMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  list-style: none;
  background: #181819;
  font-family: luminance, sans-serif;
  font-size: 1.1em;
}

.menuNav.showMenu > img {
  width: 35px;
}

#linkedin-icon, #github-icon, #camera-icon {
  height: 3.5vh;
  margin-left: 10px;
}

#brand-image {
  margin-top: 10px;
}

#icon-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 40vh;
  justify-content: space-between;
  margin-left: 6px;
  margin-top: 85px;
  position: fixed;
  left: 0;
  top: 1%;
}

#lottie-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 40vh;
  justify-content: space-between;
  margin-right: -15px;
  margin-top: 60px;
  position: fixed;
  left: 0;
  bottom: -26%;
}