.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#linkedin-icon, #github-icon, #camera-icon {
  height: 3vh;
  margin-left: 10px;
}

#right-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 20%;
  position: fixed;
  right: 0;
  z-index: 1;
  top: 0;
}

#left-nav {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
}

#icon-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 20vh;
  justify-content: space-evenly;
}